<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>텍스트 입력 받기</title>
</head>
<body>
<h2>두 개의 텍스트 입력 받기</h2>
<form method="post" enctype="multipart/form-data" action="/save">
  <div>
    <label for="user">작성자:</label>
    <input type="text" id="user" name="user" required />
  </div>
  <div>
    <label for="title">제목:</label>
    <input type="text" id="title" name="title" required />
  </div>
  <div>
    <label for="content">내용:</label>
    <textarea id="content" name="content" required></textarea>
  </div>
  <div>
    <label for="file">File:</label>
    <input type="file" id="file" name="file" required />
  </div>
  <button type="submit">Submit</button>
</form>
</body>
</html>