<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>텍스트 입력 받기</title>
</head>
<body>
<h2>두 개의 텍스트 입력 받기</h2>
<form method="post" enctype="multipart/form-data" action="/save">
  <div>
    <label for="boWriter">작성자:</label>
    <input type="text" id="boWriter" name="boWriter" required />
  </div>
  <div>
    <label for="boTitle">제목:</label>
    <input type="text" id="boTitle" name="boTitle" required />
  </div>
  <div>
    <label for="boContent">내용:</label>
    <textarea id="boContent" name="boContent" required></textarea>
  </div>
  <div>
    <label for="file">File:</label>
    <input type="file" id="file" name="file" required />
  </div>
  <button type="submit">Submit</button>
</form>
</body>
</html>